{% extends 'layout.html.twig' %}
{% block content %}
    <div id="offre-list">
        <h2>Choisissez votre offre</h2>
        <div class="offre-info">
            <img src="assets/img/offre-icon.png" alt="offre-icon" id="offre-icon">
            <span><a href="?action=product">7.00€</a></span>
        </div>
        <div class="offre-info">
            <img src="assets/img/offre-icon.png" alt="offre-icon" id="offre-icon">
            <span>7.25€</span>
        </div>
        <div class="offre-info">
            <img src="assets/img/offre-icon.png" alt="offre-icon" id="offre-icon">
            <span>7.55€</span>
        </div>
        <div class="offre-info">
            <img src="assets/img/offre-icon.png" alt="offre-icon" id="offre-icon">
            <span>8.15€</span>
        </div>
        <div id="plus-symbol">
            <img src="assets/img/plus-icon.png" alt="plus-icon" id="plus-icon">
        </div>
    </div>
{% endblock %}