{% extends 'layout.html.twig' %}
{% block content %}
    <div id="header-partner">
        <h1>Qui sont nos partenaires ?</h1>
        <h3>Une bonne affaire pour le bien de tous</h3>
    </div>

    <div id="our-partners">
        <h1>Nos partenaires</h1>
        <ul>
            <li><a href="">Prêt-à-porter</a></li>
            <li><a href="">Informatique</a></li>
            <li><a href="">Voyage</a></li>
            <li><a href="">Alimentation</a></li>
            <li><a href="">Loisir</a></li>
        </ul>
        <div id="item-partner">
            <img src="assets/img/assos.png" alt="assos">
            <img src="assets/img/hm.png" alt="hm">
            <img src="assets/img/zalando.png" alt="zalando">
            <img src="assets/img/3suisses.png" alt="3suisses">
        </div>
    </div>

    <div id="our-funraising">
        <h1>Nos associations</h1>
        <ul>
            <li><a href="">Environnemental</a></li>
            <li><a href="">Animal</a></li>
            <li><a href="">Pauvreté</a></li>
            <li><a href="">Santé</a></li>
        </ul>

        <div id="item-funraising">
            <a href="http://www.carefrance.org/"><img src="assets/img/care.png" alt="care"></a>
            <a href="http://www.ecoemballages.fr/"><img src="assets/img/eco-emballages.png" alt="eco-emballages"></a>
            <a href="http://www.wwf.fr/"><img src="assets/img/wwf.png" alt="wwf"></a>
            <a href="http://www.ecologiesansfrontiere.fr"><img src="assets/img/eco-ss-frontiere.png" alt="ecologie-sans-frontiere"></a>
        </div>
    </div>
{% endblock %}